################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/soil-stone/v16/Browse.VC.opendb
/MyCpp/SomeWork/职工管理系统/.vs/职工管理系统/v16/Browse.VC.opendb
/MyCpp/模板/案例/.vs/案例/v16/Browse.VC.opendb
/MyCpp/STL/001/.vs/001/v16/Browse.VC.opendb
/MyCpp/STL/案例/.vs/案例/v16/Browse.VC.opendb
/MyCpp/STL/set容器/.vs/set容器/v16/Browse.VC.opendb
/MyCpp/常用算法/for-each/.vs/for-each/v16/Browse.VC.opendb
/MyCpp/常用算法/for-each/.vs/for-each/v15/Browse.VC.opendb


# vs* generate
.vscode
/MyCpp/常用算法/for-each/x64/Debug
/MyCpp/常用算法/for-each/.vs/for-each
/MyCpp/STL/001/.vs/001/v16
MyCpp/STL/001/Debug
MyCpp/STL/案例/.vs/案例/v16
MyCpp/STL/案例/Debug
MyCpp/STL/list容器/.vs
MyCpp/STL/list容器/Debug
MyCpp/STL/set容器/.vs/set容器/v16
MyCpp/STL/set容器/Debug
MyCpp/STL/set容器/Release