################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/soil-stone/v16/Browse.VC.opendb
/MyCpp/SomeWork/职工管理系统/.vs/职工管理系统/v16/Browse.VC.opendb
